<div class="ui-panels">    
  {{ include "layouts/partials/panel-variables.vto" }}    
  {{ include "layouts/partials/panel-system-prompt.vto" }}        
  {{ include "layouts/partials/panel-inputs.vto" }}    
  {{ include "layouts/partials/panel-options.vto" }}    
  {{ include "layouts/partials/panel-import-export.vto" }}    
  {{ include "layouts/partials/panel-help.vto" }}    
</div>