{{ comp Panel { id: 'panel-options' } }}
  {{ comp.input ({ type: "checkbox", id: "enableSEO", label: "Enable SEO", event: { type: 'change', name: 'context:options:check' }, params: "{'context':'options.enableSEO'}" }) }}
{{ /comp }}